<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Chat App</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="top-icons">
        <img class="logo-img" src="/css/logo.png" alt="Logo Icon" />
        <img class="profile-img" src="/css/person.png" alt="Friend Icon" />
        <img class="chat-img" src="/css/chat.png" alt="Chat Icon" />
      </div>
      <div class="settings">
        <img class="setting-img" src="/css/option.png" alt="Settings Icon" />
        <form action="/logout" method="post">
          <button id="logout-btn">로그아웃</button>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="myInfo">
        <% if (username) { %>
        <p><%= username %>님</p>
        <% } else { %>
        <p>Welcome, Guest!</p>
        <% } %>
      </div>

      <div class="friend-list">
        <div class="friend-count">
          <span id="friend-count">친구 <%= friendCount %></span>
          <%- include ("./modal.ejs")%>
        </div>

        <div class="friends">
          <% friends.forEach(friend => { %>
          <div class="friend">
            <div class="friend-img"></div>
            <div class="friendName"><%= friend.name %></div>
            <%- include ("./deleteModal.ejs", { friendId: friend.friendId }) %>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <div class="chat-container">
      <div class="chat-room">
        <div class="chat-view" id="chat-view"></div>
        <div class="chat-send-box">
          <input class="send" type="text" id="message-input" />
          <button class="send-btn" onclick="sendMessage()">전송</button>
        </div>
      </div>
    </div>

    <script src="/js/home.js"></script>
  </body>
</html>
